.main-header {
  .sidebar-toggle {
    font-family: "Glyphicons Halflings";
  }
  .sidebar-toggle:before {
    content: "\e055";
  }
}
.sidebar-menu {
  .treeview-menu > li {
    border-bottom: 0.5px solid #666;
  }
  li.active > a > .glyphicon-menu-left {
    transform: rotate(-90deg);
  }
}

.logo-wrapper {
  padding: 15px;
  border-bottom: 3px solid #A4C749;
  margin-bottom: 10px;
  text-align: center;
  background-color: #666;
  img{
    width: 250px;
  }
  a b{
    color: #fff;
    vertical-align: bottom;
  }
}

.pagination-sm li > a,
.pagination-sm li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm li:first-child > a,
.pagination-sm li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm li:last-child > a,
.pagination-sm li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.contacts-list-img{
  max-height: 40px;
}

// --------- Common Classes ---------
.json {
  max-width: 250px;
  max-height: 300px;
  overflow: auto;
  text-overflow: ellipsis;
}
.survey-data,.curriculum-report {
  td{
    max-width: 40%;
  }
}
.pointer{
  cursor: pointer;
}
.font-small{
  font-size: 8px;
}
.v-align-t{
  vertical-align: top;
}
.sm-image{
  width: 48px;
}
.word-break {
  word-wrap: break-word;
}
.text-inherit{
  color: inherit;
}
.text-underline{
  text-decoration: underline;
}
.margin-0{
  margin: 0 !important;
}
.margin-b-20{
  margin-bottom: 20px !important;
}
.margin-l-10{
  margin-left: 10px;
}
.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.loader {
  display: none;
  .overlay, .loading-img {
    z-index: 810;
    background: rgba(255, 255, 255, 0.7);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    & > .glyphicon {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -15px;
      margin-top: -15px;
      color: #000;
      font-size: 30px;
    }
  }
}
#content-cache-btn{
  display: none;
  .label.small{
    font-size: 14px;
  }
}
#alerts-container {
  position: fixed;
  width: 50%;
  left: 25%;
  top: 50px;
}
select.form-control{
  option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 12px 1px;
  }
}

.dt-bootstrap {
  .dt-buttons {
    float: left;
  }
}
.box-header > .box-tools-left {
  position: absolute;
  left: 10px;
  top: 5px;
}

.dataTables_wrapper .dataTables_filter input {
  margin-right: 0.5em;
}
.dataTables_wrapper .dataTables_processing {
  z-index: 2;
}
.box-body {
  .table-info + .hs-table {
    margin-top: 20px;
  }
  .table-info {
    margin-top: -5px;
    padding-bottom: 8px;
    position: absolute;
    right: 10px;
  }
}
.hs-table {
  th {
    position: relative;
    .glyphicon[data-toggle="tooltip"] {
      position: absolute;
      top: auto;
    }
  }
  .label {
    padding: 0.2em 0.6em 0.2em;
  }
  &.borderless{
    td, th {
      border: none;
    }
  }
}

.hs-dt-filter {
  margin-bottom: -38px;
  padding-bottom: 5px;
  h4 {
    margin: 0;
  }
  .form-group {
    margin-right: 1em;
  }
  .form-group, .form-control {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-control {
    width: auto;
  }
}
@media (max-width: 768px) {
  .hs-dt-filter{
    margin-bottom: auto;
  }
}
// --------- End of Common Classes ---------

.logs-table .time {
  color: #999;
  padding: 10px;
  font-size: 12px;
}
.user-info-table.table td{
  vertical-align: middle;
}

@media (max-width: 1380px) and (min-width: 992px) {
  .user-info-table {
    tr {
      border-top: 1px solid #f4f4f4;
    }
    td {
      border-top: 0;
      display: table;
    }
    .badge-row {
      width: 100%;
    }
    .badge-row > * {
      display: inline-block;
      padding: 8px 0;
    }
  }

}


.direct-chat-contacts {
  transform: translate(0px, -101%);
}

.direct-chat-messages {
  height: auto;
  max-height: 400px;
  min-height: 250px;
}
.direct-chat-text{
  padding-right: 16px;
  position: relative;
  word-wrap: break-word;
  small{
    margin-top: -8px;
    position: absolute;
    right: 4px;
    top: 50%;
  }
  .html-text a{
    color: inherit;
    text-decoration: underline;
  }
}

.contacts-only {
  .direct-chat-contacts {
    background-color: transparent;
    display: block;
    height: auto;
    overflow: auto;
    padding: 0 10px;
    position: relative;
    max-height: 450px;
    min-height: 200px;

    ul > li:hover {
      background-color: #f5f5f5;
    }

    .contacts-list-info {
      color: #333;
    }

    .contacts-list-msg {
      color: #999;
    }
  }
}

.patient-msgs{
  .direct-chat-messages{
    max-height: 500px;
  }
}

.log-block {
  display: inline-block;
  margin: 0px 0px 10px 5px;
  text-align: center;
  width: 90px;
  .btn-app {
    clear: both;
    height: auto;
    margin: 0;
    padding: 10px 5px;
    position: relative;
    p {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }
    .log-icon{
      bottom: -2px;
      left: -7px;
      position: absolute;
      top: auto;
    }
  }
  .bg-light-green {
    background-color: #B9D762;
    border: 3px solid #99BD49;
  }
  .bg-light-gray {
    background-color: #CCCCCC;
    border: 3px solid #767676;
  }
}

.patient-logs .date-range-picker {
  z-index: 9;
}

.box-tools select.form-control {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}
.select2-container .select2-selection--single{
  height: 34px !important;
}
.manage-schedule {
  .hs-table td {
    word-break: break-all;
    word-wrap: break-word;
  }
  #add-task .select2-container {
    .select2-selection--multiple .select2-selection__choice {
      color: inherit;
    }
    .select2-search--inline {
      width: 100%;
    }
    .select2-search--inline .select2-search__field {
      width: inherit !important;
    }
  }
}
.select2-result-repository { padding-top: 4px; padding-bottom: 3px; }
.select2-result-repository__title { color: black; font-weight: bold; word-wrap: break-word; line-height: 1.1; margin-bottom: 4px; }
.select2-result-meta_info{ margin-right: 1em; display: inline-block; color: #aaa; font-size: 11px; }
.select2-result-repository__description { font-size: 13px; color: #777; margin-top: 4px; }
.select2-results__option--highlighted .select2-result-repository__title { color: white; }
.select2-results__option--highlighted .select2-result-repository__description, .select2-results__option--highlighted .select2-result-meta_info { color: #c6dcef; }

.weekly-participation {
  .hs-table th {
    font-size: 0.85em;
  }
  th[data-toggle="tooltip"]:hover {
    box-shadow: 0 2px 6px #ccc;
  }
  .dataTables_wrapper {
    margin-top: 30px;
    #pagination-sm {
      bottom: 30px;
      position: absolute;
      right: 10px;
    }
    #table-info {
      position: absolute;
      right: 10px;
      top: 40px;
    }
  }
}

.blogo-wrapper {
  position: relative;
  img {
    height: auto;
    width: 100%;
    max-height: 42px;
    max-width: 200px;
  }
  .remove-img {
    cursor: pointer;
    display: none;
    position: absolute;
    right: -6px;
    top: -6px;
  }
}